body {
    background-color: #F2F3F4;
}

.navbar {
    padding: 20px;
    background: #F5B041;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.menulink {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    float: right;
}

.menulink li {
    padding-right: 56px;
    display: inline;
}

.menulink li a {
    text-transform: uppercase;
    text-decoration: none;
}

.container {
    background-color: #fff;
    margin: 85px auto;
    width: 1242px;
    max-width: 66%;
}

.profile_img_col {
    padding: 40px;
    vertical-align: top;
}

.img_resize{
    vertical-align: middle;
    border-style: none;
}
.btn{
    background-color:#F5B041;
    display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
margin-left: 90px;
margin-top: 25px;
width: 200px;
}
.btn-prime{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.short-title{
    color:#777;
    text-transform:uppercase;
    font-size: 24px;
}


.summary_col {
    padding: 40px;
}

.summary_col {
    vertical-align: top;
}

p {
    text-align: justify;
}

h1 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    color: #999;
    text-transform: uppercase;
}

.summary_col h1 span {
    color: #F5B041;
}

.personal_info td {
    padding: 10px;
}

.personal_info td:first-child {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.social_icon {
    font-size: 30px;
    padding: 0 20px;
    color: #F5B041;
}

/*
 Skills section
*/

.skill-title{
    margin-top: 100px;
    margin-bottom: 100px;
}
.skill-title span{
    border: 1px solid #333;
}

h2 {
    font-size: 34px;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.section {
    background: #f1f1f1;
    padding: 20px 40px;
    margin: 10px 40px;

}

.section p {
    color: #666;
}

/* progress bar style
*/

.skills_progress_bar {
    margin-top: 20px;
}

.skills_progress_bar h6 {
    text-transform: uppercase;
}

h6{
    text-transform:uppercase;
    font-size: 24px;
}

.progress-bar {
    background-color: #fff;
    height: 35px;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    text-align: right;
    background-color: #F5B041;
    color: #fff;
    vertical-align: middle;
    line-height: 35px;
    padding-right: 10px;
}


/* Portfolio
*/

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#e6e6e6;
}
.img-grid{
    width: 100%;
}
.portfolio{
    width: 31%;
    background-color: #F2F3F4;
    text-align: center;
    text-transform: uppercase;
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.title span{
    border:1px solid #333;
    padding: 10px;
    
}

.text-container{
    background-color: #f1f1f1;
    text-align: center;

}
/*News*/
.nws{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 100px;
    margin-top: 100px;
    
}

.nws span{
    border: 1px solid #333;
   
}
.box{
    color:#999;
    width:1000px;
    margin:40px auto;
    }
.b1{
    float:left;
    vertical-align: bottom;
    
    width: 32%;
    
    padding-right: 15px;
    margin-bottom: 20px;
    }
.twitter{
    text-align: center;
    text-transform:uppercase;
    color:#333;
    margin-bottom: 12px;
    }
    
    .b2{
    float:left;
    vertical-align: bottom;
    width: 32%;
    
    padding-right: 15px;
    margin-bottom: 20px;
    }
    .blog{
    text-align: center;
    text-transform:uppercase;
    color:#333;
    margin-bottom: 12px;
    }
    .blog-img{
        padding-left: 20px;
    }
    .b1 p span{
    color: #F5B041;
    }
    
    .b2 p span{
    color: #F5B041;
    }
    .b3{
        float: left;
        width: 32%;
        margin-bottom: 20px;
        }
        .instagram{
        text-align: left;
        text-transform:uppercase;
        color:#333;
        margin-bottom: 12px;
        }

        .form-title{
            margin-top: 100px;
            margin-bottom: 100px;
        }
        
        .form-title span{
            border: 1px solid #333;
           
        }
    
    .foot{
    background-color: #F5B041;
    padding:10px;
    text-align:center;
    margin-bottom: .5%;
    clear: both;
    }

    *{
        box-sizing: border-box;
        
      }
      
      
      body{
        background:#F2F3F4;
        color:#485e74;
        line-height:1.6;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding:1em;
      }
      
      .contact-container{
        max-width:1070px;
        margin-left:auto;
        margin-right:auto;
        padding:2em;
      }
      
      ul{
        list-style: none;
        padding:0;
      }
      
      ul li i {
          margin: 5px;
      }
      
      .wrapper{
        box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
      }
      
      .info{
        background:#F5B041;
      }
      
      .info h2, .info ul{
        text-align: center;
        margin:0 0 1rem 0;
        text-transform: uppercase;
      }
      
      .info h2 span{
          color:#fff;
        }
      
      .contact{
        background:#f9feff;
      }
      
      .contact form label{
        display: block;
      
      }
      
      .contact form P{
        margin:0px;
      }
      .contact form input, .contact form textarea, .contact form button {
        width:100%;
        padding:1em;
      }   
      
      .contact form button{
        background-color:#F5B041;
        height: 40px;
        color:#fff;
        font-size:20px;
        text-transform: uppercase;
        width:30%;
        margin:auto;
        text-align:center;
      }
      
      .contact form button:hover{
        background:#c3c5c9;
        color:#666;
      }
      
      
      .contact form{
        display:grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
      }
      
      
      .full{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
      }
      
      
      @media only screen and (min-width:600px){
        .wrapper {
          display:grid;
          grid-template-columns: 1fr 2fr;
        }
       
      }
      
      .info h2, .info ul{
        text-align:left;
      }

    
@media only screen and (max-width: 1000px) {
    .profile_img_col {
        padding-right: 2px;
    }
    .profile_img_col img {
        width: 200px;
        border-radius: 50%
    }
    .summary_col p {
        display: none;
    }
}